[Unit]
Description=Run YClients BI scheduled full sync

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=yclients-sync-full@%i.service

[Install]
WantedBy=timers.target
