[Unit]
Description=Periodic YClients BI deployment check

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
RandomizedDelaySec=30s
Unit=yclients-auto-deploy.service

[Install]
WantedBy=timers.target
